    <footer>
      <p>
        Copyright &copy; Jenna Sanford 
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>
      </p>
      <p>Email me at <strong>jennifermariesanford@gmail.com</strong></p>
      <ul>
        <li><a class="footer-link" href="https://jennamariesanford.wordpress.com/">Blog</a></li>
        <li><a class="footer-link" href="https://github.com/jmsanford">Github</a></li>
        <li><a class="footer-link" class="nav-link" href="https://www.linkedin.com/in/jmsanford"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>