  

      <div class="footer">
        <div class="container">
          <h1 class="footer-head">Top Knot Climbing</h1>
          <hr class="white-hr">
          <div class="row ">
            <div class="col-sm-6">
              <h4 class="footer-text">Links</h4>
              <div><a class="link-text" href="/topknotclimbing/home">Home</a></div>
              <div><a class="link-text" href="/topknotclimbing/about">About</a></div>
              <div><a class="link-text" href="/topknotclimbing/visit">Visit</a></div>
            </div>
            <div class="col-sm-6">
              <div><a class="link-text" href="/">Jenna's Website</a></div>
              <p class="footer-text">Credit of unmarked photos to <a class="link-text" href="https://unsplash.com/">Unsplash.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div> 
<!-- this last closing div closes from header -->
    <script>
      function initMap() {
        var uluru = {lat: 40.7608, lng: -111.8910};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer src=https://maps.googleapis.com/maps/api/js?key=AIzaSyBTCny7ZBYePeK3jgQjgJ92qJEkoeV-w_o&callback=initMap></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>