<% include ../partials/topknotheader %>
<div>
	<img src="../images/bady-qb-583039-unsplash.jpg" alt="Woman top-roping" class="cover-photo">
</div>

<div class="container body">
	<h1 class="center-title">Gym Hours</h1>
	<div class="hours-box">
		<ul class="hours-list">
			<li>Monday: 6:00am - 11:00pm</li>
			<li>Tuesday: 6:00am - 11:00pm</li>
			<li>Wednesday: 6:00am - 11:00pm</li>
			<li>Thursday: 6:00am - 11:00pm</li>
			<li>Friday: 6:00am - 11:00pm</li>
			<li>Saturday: 8:00am - 10:00pm</li>
			<li>Sunday: 8:00am - 10:00pm</li>
		</ul>
	</div>

	<h1>Rates</h1>
	<div class="row match-my-cols">
		<div class="col-md-4 ">
			<div class="container rate-thumbnail">
				<h3>Day Rates</h3>
				<ul>
					<li>Full Day: $15</li>
					<li>Full Day with equipment: $20</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 ">
			<div class="container rate-thumbnail">
				<h3>Punch Pass</h3>
				<p>If you know you won't make it to the gym more than 5 times in a month.</p>
				<ul>
					<li>5 Days: $65</li>
					<li>10 Days: $120</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="container rate-thumbnail">
				<h3>Monthly Membership</h3>
				<p>If you know you'll be here all the time!</p>
				<ul>
					<li>First Month Service Fee: $10</li>
					<li>Monthly: $55</li>
				</ul>
			</div>
		</div>
	</div>
	<h1>Coaching</h1>
	<div class="row">
		<div class="col-md-6">
			<div class="container class-thumbnail">
				<h3>The Monkeys</h3>
				<p>If you have a little monkey looking to test out climbing, we hold classes Mon and Wed 5:30pm-7pm. Ages 5-11</p>
				<ul>
					<li>Monthly: $150</li>
					<li>5 Time Punch Pass: $265 </li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="container class-thumbnail">
				<h3>The Cool Kids</h3>
				<p>This class is for those graduating from The Monkeys or looking to try climbing without the pressure of competitions. We meet Tue and Thur 5:30pm-7pm. Ages 12-17</p>
				<ul>
					<li>Monthly: $170</li>
					<li>5 Time Punch Pass: $300 </li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="container class-thumbnail">
				<h3>The Competitives</h3>
				<p>For those under 18 who are serious about competing in their age group, we hold a combination of bouldering, top roping and lead climbing training classes on Mon and Wed 6:00pm-8:00pm.</p>
				<ul>
					<li>Monthly: $170</li>
					<li>5 Time Punch Pass: $300 </li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="container class-thumbnail">
				<h3>The Big Kids</h3>
				<p>For those just starting out with climbing and want some structed classes, we meet Tue and Thur 6:00pm-8:00pm. In this class, instructors break everyone into groups based on interest (bouldering or top roping) so you can focus on improving that area during class. Ages 18 and up</p>
				<ul>
					<li>Monthly: $170</li>
					<li>5 Time Punch Pass: $300 </li>
				</ul>
			</div>
		</div>
	</div>
</div>


<% include ../partials/topknotfooter %>