<% include ../partials/topknotheader %>
<div>
	<img src="../images/andreas-fidler-400356-unsplash.jpg" alt="Guy bouldering cover photo" class="cover-photo">
</div>

<div class="container body">
	<h1 class="padded-title">Weber County Bouldering Guides</h1>

	<p>Check out some of these guides we have at the gear shop:</p>
	<ul>
		<li>Ogden Bouldering Guide</li>
		<li>Best Climbs Moab</li>
		<li>Salt Lake City Climbing Guide</li>
	</ul>
	<p>Otherwise, there's plenty of routes for all levels posted on <a href="https://www.mountainproject.com/">Mountain Project</a>.</p>
</div>

<% include ../partials/topknotfooter %>