<% include ../partials/topknotheader %>
<div>
	<img src="../images/igor-ovsyannykov-264508-unsplash.jpg" alt="Guy using atc" class="cover-photo">
</div>
<div class="jumbotron jumbotron-fluid">
  <h1 class="display-3">Gear Shop</h1>
  <div class="container">
  	<p class="lead">Our Gear Shop has everything to get you outfitted, whether you are a beginner or a pro. We stock climbing gear, yoga supplies, and a wide variety of comfortable clothing.</p>
  </div>
</div>
  <hr>
<div class="container body">
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-12 gear-item">
			<img src="../images/tyson-dudley-139392-unsplash.jpg" alt="Chalky hands" class="gear-img img-fluid">
			<div class="gear-caption">Check out our wide selection of chalks.</div>
		</div>
		<div class=" col-lg-3 col-md-6 col-sm-12 gear-item">
			<img src="../images/cindy-chen-161348-unsplash.jpg" alt="Climbing shoes" class="gear-img img-fluid">
			<div class="gear-caption">We stock the newest and most innovative climbing shoes to step up your game.</div>
		</div>
		<div class=" col-lg-3 col-md-6 col-sm-12 gear-item">
			<img src="../images/cameron-kirby-128899-unsplash.jpg" alt="Quick draws" class="gear-img img-fluid">
			<div class="gear-caption">We have your new top roping and lead gear in stock.</div>
		</div>
		<div class=" col-lg-3 col-md-6 col-sm-12 gear-item">
			<img src="../images/robert-baker-522731-unsplash.jpg" alt="Person ice climbing" class="gear-img img-fluid">
			<div class="gear-caption">Into Ice Climbing? We now have rentals!</div>
		</div>
		<div class=" col-lg-3 col-md-6 col-sm-12 gear-item">
			<img src="../images/yogamat-JMS.jpg" alt="Yoga mat" class="gear-img img-fluid">
			<div class="gear-caption">Check out our selection of Yoga Mats and Supplies.</div>
		</div>
	</div>
</div>



<% include ../partials/topknotfooter %>
