<% include ../partials/topknotheader %>
<div>
	<img src="../images/tommy-lisbin-373129-unsplash.jpg" alt="Guy bouldering cover photo" class="cover-photo">
</div>
<div class="jumbotron jumbotron-fluid">
  <h1 class="display-3">Meetups</h1>
  <div class="container">
  	<p class="lead">From climbing outings to trail cleaning days, we host several meetups per year. We hope you come join in the community fun!</p>
  </div>
</div>
  <hr>
<div class="container body">
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-12 gear-item">
			<img src="../images/jeff-finley-584078-unsplash.jpg" alt="Arches park picture" class="gear-img img-fluid">
			<div class="gear-caption">April trail cleanup and dig in the bouldering field.</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12 gear-item">
			<img src="../images/arunas-naujokas-604365-unsplash.jpg" alt="Pouring coffee into mug in winter" class="gear-img img-fluid">
			<div class="gear-caption">Quarterly Camping and Climbing Meetup. Yes even during the winter!</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12 gear-item">
			<img src="../images/tyson-dudley-578982-unsplash.jpg" alt="man bouldering" class="gear-img img-fluid">
			<div class="gear-caption">Monthly Bouldering Challenges for all levels.</div>
		</div>
	</div>
</div>



<% include ../partials/topknotfooter %>
