<% include ../partials/topknotheader %>
<!-- <div>
	<img src="../images/vadim-fomenok-591001-unsplash.jpg" alt="Dance class" class="cover-photo">
</div> -->

<ul class="studio-slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
</ul>


<div class="container body">
	  <h1>Ready for Amazing Yoga and Dance Classes?</h1>
	  <hr>

<div class="container body">
	<div class="row">
		<div class="col-md-6">
			<h1>Schedule</h1>
			<h3>Monday</h3>
			<ul>
				<li>5:00-6:15p - <strong>Ashtanga Short Form</strong> - with <strong>Sarah</strong></li>
				<li>6:30-7:30p - <strong>Beginning Bellydance</strong> - with <strong>Liliana</strong></li>
				<li>7:45pm-9:00pm - <strong>Adult Barre</strong> - with <strong>Rose</strong></li>
			</ul>
			<h3>Tuesday</h3>
			<ul>
				<li>5:00-6:15p - <strong>Vinyasa Flow</strong> - with <strong>Andrea</strong></li>
				<li>6:30-7:30p - <strong>Bellydance Fitness</strong> - with <strong>Bridgette</strong></li>

			</ul>

			<h3>Wednesday</h3>
			<ul>
				<li>5:00-6:15p - <strong>Ashtanga Short Form</strong> - with <strong>Sarah</strong></li>
				<li>6:30-7:30p - <strong>Intermediate Bellydance</strong> - with <strong>Liliana</strong></li>
				<li>7:45pm-9:00pm - <strong>Adult Barre</strong> - with <strong>Rose</strong></li>
			</ul>
			<h3>Thursday</h3>
			<ul>
				<li>5:00-6:15p - <strong>Vinyasa Flow</strong> - with <strong>Andrea</strong></li>
				<li>6:30-7:30p - <strong>Advanced Bellydance</strong> - with <strong>Mona</strong></li>
			</ul>
			<h3>Friday</h3>
			<ul>
				<li>12:00-1:15p - <strong>Lunchtime Grind</strong> - with <strong>Melanie</strong></li>
				<li>5:00-6:15p - <strong>Ashtanga Short Form</strong> - with <strong>Sarah</strong></li>
			</ul>
			<h3>Saturday</h3>
			<ul>
				<li>8:30-9:45a - <strong>Guided Meditation</strong> - with <strong>William</strong></li>
				<li>10:00-11:15a - <strong>Restore</strong> - with <strong>William</strong></li>

			</ul>
			<h3>Sunday</h3>
			<ul>
				<li>8:00-9:15a - <strong>Morning Fresh Yoga</strong> - with <strong>Adriene</strong></li>
				<li>9:30-10:45a - <strong>Yin Yoga</strong> - with <strong>Gracie</strong></li>
				<li>11:00-12:15p - <strong>Slow Flow</strong> - with <strong>Gracie</strong></li>
			</ul>
		
		</div>
		<div class="col-md-6">
			<h1>About the Studio</h1>
			<h4>Your first class is free!</h4>

			<p>Yoga, barre and fitness classes are open to anyone of any level that wants to join in the fun.</p>
			<p>Dance classes are run on a three month basis. At the beginning of each quarter you are welcome to come try the beginners class! Feel free to talk to our instructors if you've studied the dance before, they will help place you in the correct class for your level.</p>
			<img src="../images/jacob-postuma-409825-unsplash.jpg" class="img-fluid">
		</div>
	</div>
</div>
</div>

<% include ../partials/topknotfooter %>