<% include ../partials/topknotheader %>

<ul class="homepage-slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
</ul>

<div class="jumbotron jumbotron-fluid">
  	<div class="container">
  		<h1 class="display-3">Welcome!</h1>
  		<p class="lead">We hope you love our climbing gym as much as we do. Every day we work hard to bring you the best routes, equipment, and coaching.</p>
  	</div>
</div>
<hr>
<div class="body">
	<div class="container">
		<div class="row space-after">
			<div class=" col-lg-3 col-md-6 col-sm-12">

				<a href="/topknotclimbing/boulderingguide">
					<img src="../images/andreas-fidler-400356-unsplash.jpg" alt="Woman bouldering" class="link-img img-fluid">
				</a>	
					<div class="caption-text">Our Outdoor Bouldering Guide</div>

			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<a href="/topknotclimbing/gearshop">	
					<img src="../images/igor-ovsyannykov-264508-unsplash.jpg" alt="Man using ATC" class="link-img img-fluid">
				</a>
				<div class="caption-text">Check out Our Gear Shop</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<a href="/topknotclimbing/meetups">
					<img src="../images/tommy-lisbin-373129-unsplash.jpg" alt="Two climbers getting their gear in order" class="link-img img-fluid">
				</a>
				<div class="caption-text">Join in on our Outdoor Meetups</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<a href="/topknotclimbing/studio">	
					<img src="../images/yannic-laderach-530248-unsplash.jpg" alt="Silohette doing yoga" class="link-img img-fluid">
				</a>
				<div class="caption-text">Yoga and Dance Class Offerings</div>
			</div>	
		</div>	
	</div>
	<div class="row">
		<div class="col-sm-12">
			<a href="/topknotclimbing/about">
				<img src="../images/bady-qb-583039-unsplash.jpg" alt="Woman top-roping" class="img-fluid cover-link-img">
			</a>
		<div class="caption-text">Learn about our Memberships and Rates.</div>
		</div>
	</div>
	<div class="address-container">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div id="map"></div>
					</div>
					<div class="col-sm-6">
						<h2 class="location-title">Location</h2>
						<p class="location-text">Address: 1234 University Blvd, Salt Lake City, Utah</p>
						<hr class="white-hr">
						<h2 class="location-text">Gym Hours</h2>
						<p class="location-text"> Monday-Friday: 6:00am - 11:00pm</p>
						<p class="location-text">Saturday &amp; Sunday: 8:00am - 10:00pm</p>
					</div>
				</div>
			</div>
	</div>
</div>
<% include ../partials/topknotfooter %>
