<% include ../partials/topknotheader %>
<ul class="visit-slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
</ul>
<div class="jumbotron jumbotron-fluid">
  <h1 class="display-3">Come Visit Us!</h1>
  <div class="container">
  	<p class="lead center-text">See our map location and hours below!</p>
  </div>
</div>
<hr>
<div class="body">
	<div class="address-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div id="map"></div>
				</div>
				<div class="col-sm-6">
					<h2 class="location-title">Location</h2>
					<p class="location-text">Address: 1234 University Blvd, Salt Lake City, Utah</p>
					<hr class="white-hr">
					<h2 class="location-text">Gym Hours</h2>
					<p class="location-text"> Monday-Friday: 6:00am - 11:00pm</p>
					<p class="location-text">Saturday &amp; Sunday: 8:00am - 10:00pm</p>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../partials/topknotfooter %>