<% include ./partials/header %>
	<section class="top-section">
		<h1>About Jenna</h1>
		<hr>
	</section>
	<section class="resume">
		<a href="/JenniferMarieSanfordResume2018.pdf">View My Resume</a>
		<p><strong>Questions?</strong> Email me at <strong>jennifermariesanford@gmail.com</strong></p>
	</section>

	<section class="about-pics">
       	<ul class="grid">
       		<li>
       			<p>I am currently living in Utah with my boyfriend Grey and little boxer dog Amy. I am learning more everyday about coding, photography, yoga, and myself!</p>
        		<p>We go on hiking and climbing adventures as often as we can. Whether it's climbing near our home or taking a trip down to Joe's Valley, we always have a good time getting outdoors.  We've also been fortunate enough to get some skiing in the past two winters, even making it up to Big Sky, Montana.</p>
        	</li>
        	<li style="background-image: url(../images/Main/JenniferSanfordandGrey.jpg)">
        	</li>
        	<li style="background-image: url(../images/Main/JenniferSanford-Amy02.jpg)">
        	</li>
        	<li style="background-image: url(../images/Main/JenniferSanford-Amy01.jpg)">
        	</li>
       	</ul>
	</section>

	<section class="personal-interests">
		<h1>Personal Interests</h1>
		<ul class="grid">
			<li>
				<i class="fas fa-code-branch fa-5x icon"></i>
        	    <h3 class="interest-title">Coding</h3>
        	</li>
			<li>
				<i class="fas fa-camera fa-5x icon"></i>
        	    <h3 class="interest-title">Photography</h3>
        	</li>
			<li>
				<i class="fas fa-street-view fa-5x icon"></i>
            	<h3 class="interest-title">Yoga</h3>
			</li>
			<li>
				<i class="fas fa-music fa-5x icon"></i>
        	    <h3 class="interest-title">Music</h3>
			</li>
			<li>
				<i class="fas fa-birthday-cake fa-5x icon"></i>
            	<h3 class="interest-title">Baking</h3>
			</li>
			<li>
				<i class="fas fa-book fa-5x icon"></i>
            	<h3 class="interest-title">Reading</h3>
			</li>
			<li>
				<i class="fas fa-tree fa-5x icon"></i>
            	<h3 class="interest-title">Hiking</h3>
			</li>
			<li>
				<i class="fas fa-hand-rock fa-5x icon"></i>
            	<h3 class="interest-title">Rock Climbing</h3></li>
		</ul>
	</section>

	<section class="outro">
		<h1>Want to see what I've been up to?</h1>
		<a class="page-link" href="/projects">Check out my Projects <i class="fas fa-arrow-right icon-space"></i>
                </a>
	</section>


<% include ./partials/footer %>