<% include ./partials/header %>
	<section class="top-section">
		<h1>Recent Coursework</h1>
		<hr>
	</section>
	<section class="course">
		<h2>Courses in my Queue</h2>
		<h5>The Modern Python 3 Bootcamp - Udemy.com</h5>
		<h5>The Ultimate MySQL Bootcamp - Udemy.com</h5>
		<h5>JavaScript: Understanding the Weird Parts - Udemy.com</h5>
	</section>
	<section class="course">
		<h2>Udemy Course: The Advanced Web Developer Bootcamp</h2>
		<h4>Status: Completed</h4>
		<p>
        	Advanced CSS, Asynchronous Javascript, AJAX, Testing with Jasmine, Advanced Array Methods, Closures and the Keyword "this", Object Oriented Programming, Creating JSON API's, ES5, ES6, ES7, D3, SVG, React and Redux. 
      	</p>
	</section>
	<section class="course">
		<h2>Udemy Course: The Coding Interview Bootcamp: Algorithms and Data Structures</h2>
		<h4>Status: Completed</h4>
		<p>
        	Tried out various solutions to common interview questions. Coded our own data structures such as queues, binary search trees, linked lists, and stacks. 
      	</p>
	</section>
	<section class="course">
		<h2>Udemy Course: The Web Developer Bootcamp</h2>
		<h4>Status: Completed</h4>
		<h5><a href="https://agile-citadel-11480.herokuapp.com/">YelpCamp</a></h5>
		<p>
        	In this project, we used Node, Express, MongoDB, EJS, Bootstrap, Git and Heroku to put this web app together. 
      	</p>
	</section>
	<section class="course">
		<h2>Udemy Course: Become a Wordpress Developer</h2>
		<h4>Status: Completed</h4>
		<h5><a href="http://jennifers.sgedu.site/">Fictional University</a></h5>
		<h5>Once the site goes down (temporary access) then the code will be viewable on my github.</h5>
		<p>
        	In this course we got a great overview of how to create a custom wordpress template with custom post types and fields.
      	</p>
	</section>
	<section class="course">
		<h2>Udemy Course: Modern React with Redux</h2>
		<h4>Status: Completed</h4>
		<p>
        	This course introduces the basics of React and Redux. Understanding first, basic React, then building on it to understand how Redux works with it. This course teaches how containers, components, and middlewear all work together in react applications. 
      	</p>
	</section>
	<section class="outro">
		<hr>
		<h1>Want to see more of my projects?</h1>
		<a class="page-link" href="https://github.com/jmsanford">Check out my GitHub <i class="fas fa-arrow-right"></i>
        </a>
	</section>

<% include ./partials/footer %>