<% include ./partials/header %>

		<section class="hero">
			<div class="background-image homepage-image"></div>
			<div class="hero-content">
				<h1>Hey, I'm <strong>Jenna</strong> and I'm here to <strong>help</strong>.</h1>
                <p>I'm a front end developer living in Ogden, Utah. I'd love to help make your dream website a reality.</p>
			</div>
			<i class="fas fa-arrow-down fa-2x arrow bounce"></i>
		</section>
		<section class="interests">
			<ul class="grid">
				<li>
					<i class="fab fa-react fa-5x"></i>
                    <h3 class="interest-title">React</h3>
				</li>
				<li>
					<i class="fab fa-node-js fa-5x"></i>
                    <h3 class="interest-title">NodeJS</h3>
				</li>
				<li>
					<i class="fab fa-python fa-5x"></i>
                    <h3 class="interest-title">Python</h3>
				</li>
				<li>
					<i class="fab fa-js fa-5x"></i>
                    <h3 class="interest-title">Javascript</h3>
				</li>
				<li>
					<i class="fab fa-css3 fa-5x"></i>
                    <h3 class="interest-title">CSS3</h3>
				</li>
				<li>
					<i class="fab fa-html5 fa-5x"></i>
                    <h3 class="interest-title">HTML5</h3>
                </li>
                <li>
                	<i class="fab fa-wordpress-simple fa-5x"></i>
                    <h3 class="interest-title">Wordpress</h3>
                </li>
                <li>
                	<i class="fab fa-git fa-5x"></i>
                    <h3 class="interest-title">Git</h3>
                </li>
                <li>
                	<i class="fab fa-npm fa-5x"></i>
                    <h3 class="interest-title">NPM</h3>
                </li>
			</ul>
		</section>
		<section class="outro">
			<h1>Food Engineer => Web Developer.</h1>
            <p>Some stay on the same path, others diverge and find what interests them most.</p>
            <a class="page-link" href="/about">Learn More About Jenna<i class="fas fa-arrow-right"></i></a>
		</section>

<% include ./partials/footer %>