<% include ./partials/header %>
	<section class="top-section">
		<h1>Current and Past Projects</h1>
	</section>
	<section class="project">
		<h2>Weber Pathways Website Updates</h2>
		<a class="page-link" href="https://www.weberpathways.org/">Website</a>
      	<p>
        	Helping a local non-profit with their wordpress website. They were having issues as wordpress updated and caused issues with their current setup. 
      	</p>
	</section>
	<section class="project">
		<h2>Puppetry Arts Website Updates</h2>
		<a class="page-link" href="http://www.puppetryarts.org/">Website</a>
      	<p>
        	Helping update and maintain their static website and their wordpress website. Putting toether a new website branch for them coming up. 
      	</p>
	</section>
	<section class="project">
		<h2>Color Tile Generator</h2>
		<a class="page-link" href="/colorTileGenerator">Color Tile Generator</a>
      	<p>
        	Fun little game I coded a while ago based off of the color game. Re-coded the app and changed it to a color "inspiration" app for myself. 
      	</p>
	</section>
	<section class="project">
		<h2>Color Game</h2>
		<a class="page-link" href="/colorGame">Color Game</a>
      	<p>
        	Game for learning about RGB color numbers. Credit goes to The Web Developer Bootcamp on Udemy.com. This was a code along exercise I completed. 
      	</p>
	</section>
	<section class="project">
		<h2>Drink Blog - In Progress</h2>
		<h3>I will post the link once we have it up and running.</h5>
      	<p>
        	This is going to be a react app. I throughly enjoyed learning the differences between routing this web app compared to YelpCamp. React is probably the future of web development because it makes reusing code so easy! 
      	</p>
	</section>
	<section class="project">
		<h2>Top Knot Climbing Gym</h2>
        <div class="TK-button">
        	<img class="brand-icon" src="/TopKnotFavi/mstile-150x150.png">
        	<a href="/topknotclimbing/home"> Top Knot Climbing Gym</a>
        </div>
      	<p>
        	I've been considering what to work on to put into my portfolio. There are tons of different fake project ideas out there. As I am still too new to find a true client, I decided to design/redesign the website for our favorite climbing gym. I believe they made theirs with Wix but I will start from scratch and see how far I get.
      	</p>
	</section>
	<section class="project">
		<h2>Website Refactor</h2>
		<a class="page-link" href="https://github.com/jmsanford">Website Version 1</a>
		<p>After going though a nicely organized and taught advanced CSS section through a Udemy Course - I decided it was time to distance myself from bootstrap for a project. Especially now that I know how to use Flexbox. Since I feel my personal site says a lot about me to potential employeers or clients, I decided it was time for a redo (even though I finished it not long ago!). One major improvement is that I switched over to using more diverse container tags besides the way overused "div" in the previous code. Now I have much fewer divs inside divs inside divs... I also used ways to recycle my css, and reduce the number of classes I put in by targeting tags rather than classes for more of the code. The original code for my website will stay up on my github. Also, I am paying more attention to animation compatibility in other browsers. </p>
	</section>
	<section class="outro">
		<hr>
		<h1>Want to see more of my projects?</h1>
		<a class="page-link" href="https://github.com/jmsanford">Check out my GitHub <i class="fas fa-arrow-right"></i>
        </a>
        <h1>Want to see how I've learned coding?</h1>
        <a class="page-link" href="/courses">See Jenna's Courses <i class="fas fa-arrow-right icon-space"></i>
        </a>
	</section>

<% include ./partials/footer %>